.container__big-card {
	max-width: 50vw;
	max-height: 600px;
	display: flex;
	flex-direction: column;
	padding: 2vw;
}

.big-card__photo > img {
	max-width: 480px;
	width: 100%;
}

.big-card__date {
	color: grey;
}

.big-card__title {
	margin-top: 8px;
}

.big-card__description > p {
	margin-top: 8px;
	color: grey;
}
