<div class="container__big-card">
	<div class="big-card__photo">
		<img src="http://via.placeholder.com/480x360" alt="">
	</div>
	<div class="big-card__date">
		02/10/2023 by João Loureiro
	</div>
	<div class="big-card__title">
		<a href="#"><h1>Saiu a nova versão do Angular</h1></a>
	</div>
	<div class="big-card__description">
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quo quisquam quod dolorem nobis. Dolores ea similique quasi et, dolore eum, nobis temporibus hic deserunt vitae illo officiis, quibusdam doloribus?
		</p>
	</div>
</div>
