.container__menu-bar {
	width: 100%;
	height: 56px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: large;
	text-transform: uppercase;
}

.menu-bar__logo {
	min-width: 64px;
}

.menu-bar__links {
	width: 100%;
	height: 100%;
	max-width: 920px;
	flex: auto;
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	font-weight: 600;
}

.menu-bar__links > ul {
	display: flex;
	list-style: none;
}

.menu-bar__links > ul > li {
	margin: 0 24px;
}

.menu-bar__socialMedia {
	height: 100%;
	flex: auto;
	min-width: 128px;
	display: flex;
	justify-content: end;
	align-items: center;
}

.menu-bar__socialMedia > a {
	margin-left: 24px;
}
