<div class="container__menu-bar">
	<div class="menu-bar__logo">
		<img src="{{logo.iconSrc}}" alt="{{logo.alt}}">
	</div>
	<nav class="menu-bar__links">
		<ul>
			<li *ngFor="let linkName of navigationLinks"><a href="/{{linkName}}" target="_blank" rel="noopener noreferrer">{{linkName}}</a></li>
		</ul>
	</nav>
	<div class="menu-bar__socialMedia">
		<a href="{{socialMedia.linkSrc}}" *ngFor="let socialMedia of socials" target="_blank" rel="noopener noreferrer">
			<img src="{{socialMedia.iconSrc}}" alt="{{socialMedia.alt}}">
		</a>
	</div>
</div>
